// COLORS
// @inlcude cl(black);
//--------------------------------------------------

$colors: (
  white: #fff,
  black: #000,
  text: #333333,
  grey: #6e6e6e,
  lightgrey: #f2f2f2,
  red: #ff0000,
  primary: #4d0000,
  gold: #b8860bea,
  baige: #ffffdd,
);

@mixin overTab {
  @media print, screen and (min-width: 768px) {
    @content;
  }
}

@mixin overmobile {
  @media print, screen and (min-width: 375px) {
    @content;
  }
}

.main-title {
  font-size: 3rem;
  &::after {
    content:"";
    display:block;
    width:40%;
    height:3px;
    background-color:rgb(160, 4, 4);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

h1 {
  font-size: 3rem;
  @include overTab {
    font-size: 5rem;
  }
}

h3 {
  font-size: 1rem;
  @include overTab {
    font-size: 3rem;
  }
}

a {
  text-decoration: none;
}
